ul {
  list-style: none;
}

.contentBox {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contentBox ul li {
  margin-top: 50px;
}

.contentBox ul li a {
  text-decoration: none;
  color: black;
}

.navBar a {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.navBar a:hover {
  color: aqua;
}

.navBar a.active {
  color: blue;
  border-bottom: 3px solid blue;
}

.listBox {
  display: flex;

}

.listBox a img {
  display: block;
  width: 130px;
  height: 180px;

}

.listBox .info {
  display: block;
  padding: 10px 0px 0px 35px;
}

.info > div {
  margin-top: 10px;
}

.info div:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
.info div:nth-child(2) span {
  margin-right: 20px;
}
.info div:nth-child(3) {
  font-size: 0.8rem;
}